
.img-thumbnail {
	/*max-height: 20%;*/
	width: 100%;
}

.pad {
	padding: 20px 15px;
}

.numbers {
	font-weight: bold;
	text-align: center;
}

.ctr {
	text-align: center;
}

#totalScore {
	color: green;
}

#targetNum {
	color: blue;
}